@charset "UTF-8";
body {
    background-color: rgba(0,0,0,1.00);
}
h1 {
    text-align: center;
    color: rgba(255,255,255,1.00);
    font-family: "PingFang TC Regular", "Helvetica Neue", "Microsoft JhengHei";
}
body footer {
    color: rgba(255,255,255,1.00);
    font-family: "PingFang TC Regular", "Helvetica Neue", "Microsoft JhengHei";
    text-align: center;
}
h2 {
    text-align: center;
    color: rgba(255,255,255,1.00);
    font-family: "PingFang TC Bold", "Helvetica Neue", "Microsoft JhengHei";
}
h3  {
    text-align: center;
    font-family: "PingFang TC Medium", "PingFang TC Light", "PingFang TC Thin", "Helvetica Neue", "Microsoft JhengHei";
}
img {
    height: 75%;
    width: 75%;
    position: relative;
    left: 12%;
}
p  {
    color: rgba(255,255,255,1.00);
    font-family: "PingFang TC Thin", "Helvetica Neue", "Microsoft JhengHei";
    background-repeat: repeat-x;
    text-align: center;
}
body h3 a {
    color: rgba(255,255,255,1.00);
    font-family: "PingFang TC Regular", "Helvetica Neue", "Microsoft JhengHei";
    text-align: center;
    background-color: rgba(205,0,0,1.00);
    text-decoration: none;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border-radius: 6px;
}
body h4 {
    color: rgba(255,255,255,1.00);
    font-family: "PingFang TC Medium", "Helvetica Neue", "Microsoft JhengHei";
    text-align: center;
}
