@charset "UTF-8";
body {
    background-color: rgba(17,17,17,1.00);
}
h1 {
    text-align: center;
    color: rgba(255,255,255,1.00);
    font-family: "Helvetica Neue Bold", "Helvetica Neue", "Microsoft JhengHei";
    font-size: 350%;
}
body footer {
    color: rgba(255,255,255,1.00);
    font-family: "Helvetica Neue Light", "Helvetica Neue", "Microsoft JhengHei Light";
    text-align: center;
}
h2 {
    text-align: center;
    color: rgba(255,255,255,1.00);
    font-family: "Helvetica Neue Bold", "Helvetica Neue", "Microsoft JhengHei";
    font-size: 210%;
}
h3  {
    text-align: center;
    font-family: "Helvetica Neue Bold", "Helvetica Neue", "Microsoft JhengHei";
    color: rgba(255,255,255,1.00);
}
img {
    height: 75%;
    width: 75%;
    position: relative;
    left: 12.55%;
}
p  {
    color: rgba(255,255,255,1.00);
    font-family: "Helvetica Neue", "Microsoft JhengHei";
    background-repeat: repeat-x;
    text-align: center;
    font-size: 145%;
}
body h3 a {
    color: rgba(255,255,255,1.00);
    font-family: "Helvetica Neue Bold", "Helvetica Neue", "Microsoft JhengHei";
    text-align: center;
    background-color: rgba(205,0,0,1.00);
    text-decoration: none;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-radius: 6px;
}
h4 {
    color: rgba(255,255,255,1.00);
    font-family: "Helvetica Neue", "Microsoft JhengHei";
    text-align: center;
}
body h4 a {
    color: rgba(255,255,255,1.00);
}
